
.event-info h2 {
    font-size:0.8rem;
}
.event-info h1 {
    font-size:1rem !important;
    line-height: unset !important;
    height:60px !important;
}
.event-info p {
    display: none !important;
}
.event-card-container {
    min-height: 320px !important;
}
.image-container {
    clip-path: circle(90% at 20px 20px) !important;
}
.event-info {
    justify-content: flex-start !important;
    align-content: flex-start !important;
}
.main-nav ul {
    display: flex !important;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: stretch;
    color: white;
}
.main-nav li {
    font-size: 0.8rem !important;
    width:40%;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    height:120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.main-nav ul li.active.weather {
    background: #00fe9e;
    /* Old browsers */
    background: url("http://www.tums-mc.de/img/points1.png"), -moz-linear-gradient(-45deg, #00fe9e 30%, #acff3d 70%);
    /* FF3.6+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -webkit-gradient(linear, left top, right bottom, color-stop(30%, #00fe9e), color-stop(70%, #acff3d));
    /* Chrome,Safari4+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -webkit-linear-gradient(-45deg, #00fe9e 30%, #acff3d 70%);
    /* Chrome10+,Safari5.1+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -o-linear-gradient(-45deg, #00fe9e 30%, #acff3d 70%);
    /* Opera 11.10+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -ms-linear-gradient(-45deg, #00fe9e 30%, #acff3d 70%);
    /* IE10+ */
    background: url("http://www.tums-mc.de/img/points1.png"), linear-gradient(135deg, #00fe9e 30%, #acff3d 70%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fe9e', endColorstr='#acff3d',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}

.main-nav ul li.active.gallery {
    background: #bbc0f7;
    /* Old browsers */
    background-image: url("http://www.tums-mc.de/img/points1.png"), -moz-linear-gradient(-45deg, #bbc0f7 30%, #2afcef 70%);
    /* FF3.6+ */
    background-image: url("http://www.tums-mc.de/img/points1.png"), -webkit-gradient(linear, left top, right bottom, color-stop(30%, #bbc0f7), color-stop(70%, #2afcef));
    /* Chrome,Safari4+ */
    background-image: url("http://www.tums-mc.de/img/points1.png"), -webkit-linear-gradient(-45deg, #bbc0f7 30%, #2afcef 70%);
    /* Chrome10+,Safari5.1+ */
    background-image: url("http://www.tums-mc.de/img/points1.png"), -o-linear-gradient(-45deg, #bbc0f7 30%, #2afcef 70%);
    /* Opera 11.10+ */
    background-image: url("http://www.tums-mc.de/img/points1.png"), -ms-linear-gradient(-45deg, #bbc0f7 30%, #2afcef 70%);
    /* IE10+ */
    background-image: url("http://www.tums-mc.de/img/points1.png"), linear-gradient(135deg, #bbc0f7 30%, #2afcef 70%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbc0f7', endColorstr='#2afcef',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}

.main-nav ul li.active.history {
    background: #e535e2;
    /* Old browsers */
    background: url("http://www.tums-mc.de/img/points1.png"), -moz-linear-gradient(-45deg, #e535e2 30%, #fe665b 70%);
    /* FF3.6+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -webkit-gradient(linear, left top, right bottom, color-stop(30%, #e535e2), color-stop(70%, #fe665b));
    /* Chrome,Safari4+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -webkit-linear-gradient(-45deg, #e535e2 30%, #fe665b 70%);
    /* Chrome10+,Safari5.1+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -o-linear-gradient(-45deg, #e535e2 30%, #fe665b 70%);
    /* Opera 11.10+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -ms-linear-gradient(-45deg, #e535e2 30%, #fe665b 70%);
    /* IE10+ */
    background: url("http://www.tums-mc.de/img/points1.png"), linear-gradient(135deg, #e535e2 30%, #fe665b 70%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e535e2', endColorstr='#fe665b',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}

.main-nav ul li.active.likes {
    background: #1bc3ff;
    /* Old browsers */
    background: url("http://www.tums-mc.de/img/points1.png"), -moz-linear-gradient(-45deg, #1bc3ff 30%, #48ded2 70%);
    /* FF3.6+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -webkit-gradient(linear, left top, right bottom, color-stop(30%, #1bc3ff), color-stop(70%, #48ded2));
    /* Chrome,Safari4+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -webkit-linear-gradient(-45deg, #1bc3ff 30%, #48ded2 70%);
    /* Chrome10+,Safari5.1+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -o-linear-gradient(-45deg, #1bc3ff 30%, #48ded2 70%);
    /* Opera 11.10+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -ms-linear-gradient(-45deg, #1bc3ff 30%, #48ded2 70%);
    /* IE10+ */
    background: url("http://www.tums-mc.de/img/points1.png"), linear-gradient(135deg, #1bc3ff 30%, #48ded2 70%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bc3ff', endColorstr='#48ded2',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}

.main-nav ul li.active.comments {
    background: #fecd32;
    /* Old browsers */
    background: url("http://www.tums-mc.de/img/points1.png"), -moz-linear-gradient(-45deg, #fecd32 30%, #f75e73 70%);
    /* FF3.6+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -webkit-gradient(linear, left top, right bottom, color-stop(30%, #fecd32), color-stop(70%, #f75e73));
    /* Chrome,Safari4+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -webkit-linear-gradient(-45deg, #fecd32 30%, #f75e73 70%);
    /* Chrome10+,Safari5.1+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -o-linear-gradient(-45deg, #fecd32 30%, #f75e73 70%);
    /* Opera 11.10+ */
    background: url("http://www.tums-mc.de/img/points1.png"), -ms-linear-gradient(-45deg, #fecd32 30%, #f75e73 70%);
    /* IE10+ */
    background: url("http://www.tums-mc.de/img/points1.png"), linear-gradient(135deg, #fecd32 30%, #f75e73 70%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fecd32', endColorstr='#f75e73',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}
